<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NodeAngular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
<script src="runtime.eba877d1204fd67b69cb.js" defer></script><script src="polyfills.8cbae4cc583eaccc8acb.js" defer></script><script src="styles.89180b74207363680008.js" defer></script><script src="main.a3467551714c93030425.js" defer></script></body>
</html>
